body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: linear-gradient( rgba(241, 241, 241, 0.842), rgb(243, 243, 228));
}
* {
  user-select: none;
  box-sizing: border-box;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.btn {
  background-color: #333;
  color: beige;
  font-size: 28px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
  padding: 20px 40px;
  border: none;
  border-radius: 40px;
  word-spacing: 10px;
}
  .btn:hover {
    opacity: 0.6;
    cursor: pointer;
  }

.scoreboard {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
  color: white;
  -webkit-text-stroke: 0.5px #333;
  border-bottom: 0.5px solid #333;
}

.result {
  font-size: 28px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
  color: white;
  -webkit-text-stroke: 0.5px #333;
}

.time {
  font-size: 40px;
  margin-bottom: 36px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
  color: white;
  -webkit-text-stroke: 1px #333;
}

.box {
  width: 500px;
  height: 500px;
  margin-bottom: 28px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 4px;
  color: white;
  -webkit-text-stroke: 0.5px #333;
}
  .box:hover{
    cursor: pointer;
  }